@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

.header-text {
  width: 85vw;
  margin: 7rem auto 1rem auto;
}

.content-img {
  position: relative;
  width:fit-content;
  max-width: 100%;
}

.content-img::before {
  content: 'Creating a global community of mindful individuals';
  position: absolute;
  font-size: 4vw;
  width: 50%;
  font-weight: bolder;
  margin: 1rem 2rem;
  color:#0F1141;
}

.content-img::after {
  content: '';
  position: absolute;
  background-image: url('../assets//crown.svg');
  background-size: cover;
  width: 5vw;
  height: 5vw;
  top: -5vw;
  right: -5vw;

}

.header-cards {
  width: 85vw;
  margin: 0 auto;
}

.card {
  margin: 5rem 0;
}

.card-img {
  width: 30vw;
  position: relative;
}

.card-content {
  top: 80%;
  left: 10%;
  color: white;
  z-index: 1;
}


/* IMAGES GRID SECTION  */
.headings ul {
  padding: 2rem 1rem;
}

.headings ul li span {
  color: #7378DE;
}

.scroll-img {
  width: 10vh;
}

.right span {
  color: #A2E080;
}

.relaxing-body,
.professional-body {
  padding: 3rem 1rem;
  height: 55vh;
}

.left {
  width: 40vw;
  left: 30px;
  bottom: -40px;
}

.image-section {
  width: 35vw;
  top: 6vw;
  right: 30px;
}

.professional-text {
  color: #7378DE;
}

.professional-text span {
  color: #0F1141;
}

.about-para span {
  color: #A2E080;
}

.mobile-app {
  width:100vw;
  background-image: url('../assets/mobile-app-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.divider {
  height: 2px;
  background-color: white;
  width: 80%;
  border-radius: 20px;
  margin: 1rem auto;
}

.mob-grid-img{
  width: 30vw;
}

@media only screen and (min-width: 1540px) {
  .content-img::before {
    font-size: 3.5vw;
  }
  
}


@media only screen and (max-width: 768px) {
  .header-text {
    width: 85vw;
    margin: 2rem auto 1rem auto;
  }

  .card {
    margin: 2rem 0;
  }

  .relaxing-body,
.professional-body {
  padding: 3rem 0;
  height: 50vh;
}

  .left {
    width: 40vw;
    left: 60px;
    bottom: -20px;
  }

  .image-section {
    width: 50vw;
    top: 6vw;
    right: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .content-img::before {
    margin: .5rem 1rem;
  }

  .relaxing-body,
  .professional-body {
    padding: 3rem 1rem;
    height: 35vh;
  }

  .relaxing-body{
    height: 70vw;
  }
}